@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
body{
    font-family: 'Zen Dots', cursive !important;
}

.col-md-4{
    width: 30vw;
    height: 40vh;
}
.pictures{
    width: 25vw;
    height: 35vh;

}
.pictures:hover{
    width: 30vw;
    height: 40vh;
    transition: 600ms;
    border-radius: 30px;
}
#grid{
align-items: center;
margin-left: 100px;

}
#rock{
    width: 25vw;
    height: 35vh;
}
#rock:hover{
    width: 30vw;
    height: 40vh;
    transition: 600ms;
    border-radius: 30px;
}
#travel{
    width: 25vw;
    height: 35vh;
}
#travel:hover{
    width: 30vw;
    height: 40vh;
    transition: 600ms;
    border-radius: 30px;
}
#rap{
    width: 25vw;
    height: 35vh;
}
#rap:hover{
    width: 30vw;
    height: 40vh;
    transition: 600ms;
    border-radius: 30px;
}
#titullapa{
    padding-top: 20px;
    padding-bottom: 0px;
}
.navbar {
    background-color: #33322f !important;
    }
    #pirmaKolona {
        color: #33322f;
        text-align: right; 
        background-color: #3b3a39;
        color:whitesmoke;
    }
    #otraKolona {
        color: #33322f;
        text-align: left; 
        background-color: #3b3a39;
        color:whitesmoke;
    }
    h2{
        background-color: #85837d;
        padding-bottom: 5px;
        text-align: center;
        padding-top: 10px;
    }
    body{
        background-color: #85837d;
    } 
#contacts{
    border-top: 1px solid whitesmoke;
}